
@mixin link($color: $link-color) {
  color: $color;
  text-decoration: none;
}

@mixin clearfix {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

@mixin bon_size {
  font-size: #{21 / $em}em;
}

@mixin less-small {
	/* 13.5px / 18px */
	font-size: #{($font-size*0.9125) / $em}em;
	line-height: ($line*0.75) / ($font-size*0.8125) * 1em;
}
