
/* @media screen and (min-width: 720px) */
@media screen and (min-width: 45em) {

  #menu-switch {
    display: none;
  }
  #main-menu {
    display: block;
    border-bottom: 1px solid #ccc;
  }
  ul.main-menu {
    @include clearfix;
  }
  ul.main-menu li, ul.main-menu li a {
    display: block;
    float: left;
  }
  ul.main-menu li a {
    padding: 10px;
    width: 64px;
    color: #333;
    letter-spacing: 1px;
    text-decoration: none;
  }
  ul.main-menu li a:hover {
    color: #333;
    background-color: #ccc;
    transition: background-color 0.3s ease-out;
  }
  #logo-wrapper {
    border-bottom: 0;
  }
  #main-image-wrapper {
    border-top: 0;
  }
  #top-menu {
    display: block;
    margin-top: 5px;
    margin-right: 2%;
    float: right;
  }
  #top-menu li , #top-menu li a {
    float: left;
    display: block;
  }
  #top-menu li a {
    color: #333;
    text-decoration: none;
    padding: 5px 10px 2px;
  }
  #top-menu li a {
    border-left: 1px solid #555;
    transition: background-color 0.3s ease-out;
  }
  #top-menu li:first-child a {
    border-left: 0;
  }
  #top-menu li a:hover {
    background-color: #777;
    color: #fff;
  }
  #side-menu {
    display: none;
  }
  #logo-wrapper {
    padding-top: 40px;
    padding-bottom: 0;
  }
  #logo-wrapper h1 i {
    margin: 0 1.5%;
  }
  #twoway #main-image-wrapper {
    border-top: 1px solid #fff;
    float: none;
    width: 100%;
    padding-bottom: 20px;
  }
  ul.images-box {
    border-bottom: 0;
  }
  .second-images-box {
    border-top: 0;
  }
  .ad, .event {
    @include clear-lines;
    height: 200px;
  }
  .event {
    float: none;
  }
  #twoway #channel-focus-wrap {
    float: none;
    width: 100%;
    display: block;
  }
  #twoway ul.channel-focus li {
    display: block;
    float: left;
    width: 45%;
    margin-right: 5%;
  }
  .channel-focus {
    @include clearfix;
    border-top: 0;
    border-bottom: 0;
  }
  ul.channel-focus li:nth-child(2) {
    border-top: 0;
  }
  ul.channel-focus li:nth-child(4) {
    border-bottom: 1px solid #e5e5e5;
  }
  .event-image-link, .event-desc {
    display: block;
    float: none;
  }
  .event-desc {
    width: 100%;
    @include large;
  }
  #twoway #bottom-ad-wrap {
    width: 100%;
    float: none;
    @include clearfix;
  }
  #twoway #hot-topics-wrap {
    float: none;
    width: 100%;
  }
  #twoway #bottom-ad-wrap embed {
    width: 350px;
  }
  #bottom-ad-wrap .ad {
    height: 100px;
  }
}
