

body {
  background-color: $background-color;
}

#ggs-switch {
 // display: none;
}

.menu-switch {
  cursor: pointer;
  width: 30px;
  padding: 8px 8px 4px;
}
.menu-switch:hover .switch-bar {
  background: $hovered-link-color;
}
.menu-switch .switch-bar {
  opacity: $default-opacity;
  background: rgb(0, 0, 0);
  height: 5px;
  margin-bottom: 4px;
}

.ico-moon-pi,
.ico-moom-ke {
  line-height: #{$line / $em * 1.03}em; /* 24 */
}
.ico-moon-bon {
  vertical-align: top;
  @include bon_size;
}

#logo-wrapper {
  padding-top: 20px;
  padding-left: 0;
}

.clearfix {
  @include clearfix;
}

header h1 {
  margin-top: 0;
  margin-bottom: 0;
}
header h1 a {
  @include link;
}
header h1 a:hover {
  @include link($hovered-link-color);
}
header h1 a {
  @include large;
}
img.primary-image {
  width: 100%;
}
#logo-wrapper {
  padding-bottom: 18px;
  border-bottom: $gray-border;
}
#main-image-wrapper {
  padding-top: 30px;
  border-top: 1px solid #fff;
}
section h3 {
  margin-bottom: 0;
}
section h3 a {
  letter-spacing: 1px;
  text-decoration: none;
}
#main-image-wrapper h3 a .head {
  margin-right: 5px;
}
section h3 a .head {
  color: #000;
  opacity: $opacity-dark;
}
section h3 a .desc {
  color: $link-color;
}
section h3 a .desc:hover {
  color: $hovered-link-color;
}
.container {
  border-top: 1px solid #333;
}
.view {
  position: relative;
  overflow: hidden;
}
.image-link img {
  transition: all 0.25s ease-out 0s;
}
.image-link:hover img {
  opacity: 0.2;
}
.image-link:hover .mask {
  opacity: 0.7;
  display: block;
}
.mask {
  width: 100%;
  height: 100%;
  background-color: #555;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
}
.image-link .mask h2 {
  text-align: center;
  padding-top: 45px;
  color: #fff;
  letter-spacing: 1px;
}
.image-link .mask h3 {
  text-align: center;
  padding-top: 25px;
  color: #fff;
  letter-spacing: 1px;
  @include normal;
}
.channel-focus {
  display: block;
  border-top: $light-border;
  padding-top: 5px;
}
.channel-focus img {
  width: 22.5%;
  float: left;
  display: block;
  padding-top: 4px;
  padding-bottom: 10px;
}
.channel-focus li {
  list-style-type: none;
  padding-bottom: 5px;
  padding-top: 15px;
  border-bottom: $gray-border;
  @include clearfix;
  min-height: 64px;
}
.channel-focus li:nth-child(n+2) {
  border-top: $light-border;
}
.channel-focus li:last-child {
  border-bottom: 0;
}
.channel-focus li h3 {
  color: #444;
  @include small;
}
.channel-focus li span {
  color: #666;
  @include small;
}
.channel-focus {
  padding-bottom: 30px;
  border-bottom: $gray-border;
}
.focus-desc {
  padding-left: 4.25%;
  width: 73%;
  float: left;
}
.footer {
  padding: 15px 10px 30px;
  margin: 0 5.5555%;
}
.footer p {
  @include small;
  color: #666;
}
ul.menu {
  display: block;
  float: left;
  width: 75%;
  border: 1px solid #000;
}
ul.menu {
  height: 100%;
  z-index: 9999;
  position: fixed;
  background-color: #555;
}
ul.menu li a {
  letter-spacing: 1px;
  @include link(#ccc);
}
ul.menu li a:hover {
  background-color: #777;
  color: #fff;
}
ul.menu li a {
  display: block;
  padding: 10px;
}
ul.menu li {
  border-bottom: 1px solid #777;
}
ul.menu.closed {
  display: none;
}

/* @media screen and (min-width: 320px) */
@media screen and (min-width: 20em) {

  header h1 {
    display: block;
    float: left;
  }
  #menu-switch {
    float: left;
    margin-right: 7.25%;
    margin-left: 1.25%;
  }
  #logo-wrapper {
    @include clearfix;
  }
  ul.images-box {
    @include clearfix;
    padding-top: 25px;
    border-bottom: $gray-border;
    padding-bottom: 20px;
  }
  ul.images-box li {
    list-style-type: none;
    float: left;
    width: 45.75%;
  }
  ul.images-box li:first-child {
    margin-right: 8.45%;
  }
  ul.images-box li img {
    width: 100%;
  }
  ul.images-box li h3 span {
    display: block;
  }
  ul.images-box li h3 .head {
    @include less-small;
  }
  ul.images-box li h3 .desc {
    @include small;
  }
  #login-wrapper {
    @include clearfix;
  }
  #login-box {
    background-color: #444;
    padding: 3px 20px 2px 25px;
    width: 90px;
    float: right;
    margin-right: 4.25%;
    margin-bottom: 5px;
  }
  #login-box a {
    text-decoration: none;
    color: #eee;
  }
  #login-box a:hover {
    color: #fff;
  }
  #login-box span {
    color: #ccc;
    @include small;
  }
  .second-images-box {
    border-top: $light-border;
  }
  .event-image-link img {
    width: 100%;
  }
  .event {
    @include clearfix;
    border-top: $light-border;
    border-bottom: $gray-border;
    padding-top: $padding;
    padding-bottom: $padding;
  }
  .event-image-link, .event-desc {
    display: block;
    float: left;
    width: 45.5555%;
  }
  .event-image-link {
    padding-right: 8.5%;
  }
  .event-desc {
    list-style-type: none;
  }
  .event-desc li a {
    @include link(#666);
    @include small;
  }
  .event-desc li a:hover {
    @include link($hovered-link-color);
  }
  .ad {
    width: 100%;
    height: auto;
    padding-top: $padding;
    padding-bottom: $padding;
    border-top: $light-border;
    border-bottom: $gray-border;
  }
}
