
$background-color: #e5e5e5;

$link-color: #0088cc;
$hovered-link-color: #409F89;

$default-opacity: 0.618;
$opacity-dark: 0.9;

$light-border: 1px solid #fff;
$gray-border: 1px solid #ccc;

$padding: 30px;
